n8n/workflow-consulta-datos.json
{
  "name": "Consultar Datos del Sistema",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Ejecutar Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://backend:5000/api/query/facturacion emitida de manera unitaria",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "limite",
                "value": "100"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Consultar Facturaci贸n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def4-456789012345",
      "name": "驴Hay Datos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef56-567890123456",
      "name": "Procesar Datos",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "content": "##  Reporte de Facturaci贸n\n\n**Total de registros:** {{ $json.total }}\n\n**Fecha de consulta:** {{ $now.toLocaleString() }}\n\n---\n\nAqu铆 puedes procesar los datos y enviarlos por email, Slack, webhook, etc.",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f678-678901234567",
      "name": "Resultado",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Ejecutar Cada Hora": {
      "main": [
        [
          {
            "node": "Consultar Facturaci贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Facturaci贸n": {
      "main": [
        [
          {
            "node": "驴Hay Datos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Hay Datos?": {
      "main": [
        [
          {
            "node": "Procesar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-08T09:00:00.000Z",
  "versionId": "1"
}
