n8n/workflow-webhook-upload.json
{
  "name": "Webhook - Recibir y Procesar Excel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-excel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "upload-excel"
    },
    {
      "parameters": {
        "jsCode": "// Extraer tipo de dato del body o query\nconst tipo = $input.item.json.query?.type || $input.item.json.body?.type || 'facturas';\nconst fileName = $input.item.json.files?.[0]?.fileName || 'archivo.xlsx';\n\nreturn {\n  json: {\n    tipo: tipo,\n    fileName: fileName,\n    timestamp: new Date().toISOString()\n  },\n  binary: $input.item.binary\n};"
      },
      "id": "procesar-datos",
      "name": "Procesar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "=http://backend:5000/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{$json.tipo}}"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "enviar-backend",
      "name": "Enviar a Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Procesar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos": {
      "main": [
        [
          {
            "node": "Enviar a Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Backend": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-02T00:00:00.000Z",
  "versionId": "1"
}
